<main>
  <h1>Svadba 13.05-20.05.2022</h1>
  <h2>FAQ</h2>
  <p>Pitanja sa <app-dot></app-dot> novo dodana, ali ih trenutno nema</p>
  <ol>
    <li>
      <h3 class="full">Jel idemo skupa u petak (13.05.2022)?</h3>
      <p>ne</p>
    </li>
    <li>
      <h3 class="full">Kad treba doći u petak (13.05.2022)?</h3>
      <p>Ako Vam nismo rekli drugačije, 18:00 ili kasnije</p>
    </li>
    <li>
      <h3 class="full" id="zasto">Zašto</h3>
      <p>Zato</p>
    </li>
    <li>
      <h3 class="full">A jel mogu ja doć _____?</h3>
      <p>Pitaj privatno za odgovor da/ne</p>
    </li>
    <li>
      <h3 class="full">Jel idete starom cestom ili autocestom?</h3>
      <p>Bacit ćemo kockicu pa otić autocestom</p>
    </li>
    <li>
      <h3 class="full">Gdje treba doć?</h3>
      <p>U Google maps možete upisati "Vila Tina, Privlaka", ili ovdje imate <a href="https://goo.gl/maps/MCxhf4wM9j5y4iJG7">google maps link</a></p>
    </li>
    <li>
      <h3 class="full">Tko sve ide?</h3>
      <p>Popis gostiju može se naći na <a href="https://docs.google.com/spreadsheets/d/1DYjMWZ_khyxEnydJkL_OGDmBPkxVJ4syvyeZS4ZYt2U/edit?usp=sharing">ovom linku</a></p>
    </li>
    <li>
      <h3 class="full">Mi koji ne dolazimo 13.05.2022, kada trebamo doći?</h3>
      <p>Na <strong>dan</strong> dodjeljen Vam u tablici, <strong>vrijeme</strong> je kad god Vi hoćete, prilagodite si put kako vama paše, samo nam javite u koje vrijeme dolazite</p>
    </li>
    <li>
      <h3 class="full">Kakva je to druga kuća?</h3>
      <p>Broj spavaćih mjesta u kući 1 / broj gosti koje je <i>trebalo</i> doć > 1</p>
    </li>
    <li>
      <h3 class="full">Jel trebamo šta ponest?</h3>
      <p>Ne</p>
    </li>
    <li>
      <h3 class="full">Jel se kum stvarno preziva Veseli?</h3>
      <p>Da</p>
    </li>
    <li>
      <h3 class="full">Zašto Cico ništa ne priča?</h3>
      <p>Pitaj Cicu</p>
    </li>
    <li>
      <h3 class="full">Zašto je Leon tak nervozan?</h3>
      <p>Ne voli se ponavljat</p>
    </li>
    <li>
      <h3 class="full">Jel se trebam svečano obuć?</h3>
      <p>Ne</p>
    </li>
    <li>
      <h3 class="full">Jel mi treba košulja?</h3>
      <p>Pogledaj odgovor iznad</p>
    </li>
    <li>
      <h3 class="full">Kad dođem, kako da znam koja je soba moja?</h3>
      <p>Pitaj Leona</p>
    </li>
    <li>
      <h3 class="full">Zašto Leon ne pije?</h3>
      <p>Nema dobar razlog</p>
    </li>
    <li>
      <h3 class="full">Gladan/na sam, šta ima za jest?</h3>
      <p>¯\_(ツ)_/¯</p>
    </li>
    <li>
      <h3 class="full">A kad je to vjenčanje na koje smo došli?</h3>
      <p>Vjenačanje se održalo 14.05.2023, pitaj Danijelu da ti pokaže 1500 slika</p>
    </li>
  </ol>
  <h2>Korisni linkovi</h2>
  <ol class="links">
    <li><a href="https://goo.gl/maps/MCxhf4wM9j5y4iJG7">Lokacija kuće</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1DYjMWZ_khyxEnydJkL_OGDmBPkxVJ4syvyeZS4ZYt2U/edit?usp=sharing">Famozna tablica</a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Slike vjenčanja</a></li>
  </ol>
</main>
